<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a3461chatmessage">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Messenger"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LatestMessagesActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".registerlogin.RegisterActivity"/>
        <activity android:name=".registerlogin.LoginActivity"/>
        <activity android:name=".registerlogin.ProfileActivity"/>
        <activity android:name=".registerlogin.MyProfileActivity"/>
        <activity android:name=".NewMessageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LatestMessagesActivity" />
        </activity>
        <activity android:name=".ChatLogActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LatestMessagesActivity" />
        </activity>
    </application>

</manifest>